:root{
    --main-color: #ce1212;
}
/* .spaceInSeecion{ */
    /* padding: 10px; */
/* } */

/* Start navbar */

#header .container-fluid .navbar-brand span{
    color: var(--main-color);
}

#header .collapse ul{
    /* background-color: aqua; */
    gap: 15px;
    position: relative;
}

#header .collapse ul li .nav-link{
    transition: all 0.5s;
}


#header .collapse ul li .nav-link:hover{
    color: var(--main-color);
}

#header button{
    background-color: var(--main-color);
    width: 10%;
    font-size: 12px;
    padding: 7px 10px;
}

#header i{
    display: none;
}
@media (max-width:750px) {
    #header i{
        display: inline;
        margin-top: 10px;
    }
    
    #header button {
        width: 30%;
        margin-top: 10px;
        margin-left: 80px;
    }
}
/* End navbar */

/* Start Home */
#Home{
    height: 500px;
    background-color: rgb(248,249,250);
    padding: 45px;
}

#Home .row{
    gap: 150px;
    
}

#Home h1{
    font-family: "Amatic SC";
    font-size: 50px;
}

#Home button {
    background-color: var(--main-color);
    /* width: 10%; */
    font-size: 12px;
    padding: 8px 30px;
}

#Home .btn{
    color: var(--main-color);
    font-size: 26px;
    /* padding-top: 0px; */
}
#Home .btn span{
    font-size: 13px;
    padding-left: 5px;
    color: gray;
    transition: all 0.5s;
}

#Home .btn span:hover{
    color: var(--main-color);
}

#Home img{
    width: 100%;
    animation-name: customAni;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /* order: 2; */
    }
    
    @keyframes customAni {
        form {
            transform: rotate(360deg);
        }
    
        to {
            transform: rotate(360deg);
        }
    
    }


@media (max-width:750px) {
    #Home .row{
        gap: 10px;
    }
    #Home{
        height: 100vh;
    }

    #Home button{
        padding: 8px 20px;
    }
}
/* End Home */

/* Start About */

#About{
    position: relative;
    height: 100vh;
}
#About .video{
    font-size: 12px;
    width: 65%;
}

#About i{
    color: var(--main-color);
}
#About .position {
    position: absolute;
    left: 220px;
}

@media (max-width:750px){
    #About .position {
            left: 0px;   
    }
        #About {
            position: relative;
            height: 180vh;   
    }

    #About .col-lg-6 .video{
        width: 90%;
        margin: auto;
        font-size: 14px;
    }
}
/* End About */

/* Start Yummy */
#Yummy{
    background-color: rgb(248, 249, 250);
    height: 50vh;
}

#Yummy .span{
    background-color: var(--main-color);
}

#Yummy .span button{
    background-color:  #f9f9f93c;
    
}
#Yummy .span button i{
    color: white;
}

#Yummy i{
    background-color:  #ce121210;
    color: var(--main-color);
    transition: all 1s;
}
#Yummy i:hover{
    background-color:  var(--main-color);
    color: white;
}

/* End Yummy */

/* Start Hours */
@media (max-width:750px){
 .divh{ 
    height: 600px;  
}

#Hours{
    height: 100%;
}
.layout {
    height: 400vh;
}
}
.layout{
    background-color: rgba(0, 0, 0, 0.5);
    height: 35vh;
}
#Hours{
    background-image: url(../img/stats-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 35vh;
    width: 100%;
}
/* End Hours */
/*  Start Menu */
#Menu img{
    width: 50%;
}

#Menu p{
    color: gray;
}
#Menu h5{
    color: var(--main-color);
}
#Menu h1 span{
    color: var(--main-color);
    
}
#Menu h1{
    font-family: "Amatic SC";
}
#Menu a{
    transition: all 0.5s;
}
#Menu a:hover{
    color: var(--main-color);
}
/* End Menu */

/* Start carousel */
#carousel{
    font-family: "Amatic SC";
    height: 60vh;
    position: relative;
}
#carousel .title h6{
    font-family: "Roboto";
}
#carousel .title h1 span{
    color: var(--main-color);
}
#carousel p{
    font-family: "Roboto";
}
#carousel h5{
    font-size: 16px;
}
#carousel h6{
    font-size: 13px;
}
#carousel i{
    color: #ce121263;
}
#carousel .row{
    position: relative;

}
#carousel .col-lg-6::before{
    content: "";
    background-color: var(--main-color);
    height: 100%;
    position: absolute;
    left: 0;
    width: 5px;
    border-radius: 5px;
}

#carousel .position{
    position: absolute;
    left: 210px;
}
#carousel img{
    width: 30%;
}

@media (max-width:750px){
    #carousel .title h6 {
            font-size: 14px;
        }
    
        #carousel .title h1{
            font-size: 35px;
         }
    #carousel {
            height: 100vh;
   }
    #carousel .position {
        position: absolute;
        left: 0;  
    }
        #carousel img{
            width: 50%;
           }
    #carousel .col-lg-6::before{
        display: none;
    }
    #carousel img {
        width: 90%;
        padding-top: 20px;
    }
}
/* End carousel */

/* Start Chefs */

#Chefs{
    height: 100vh;
}
.title h1{
    font-family: "Amatic SC";
}
.title span{
    color: var(--main-color);
    font-family: "Amatic SC";
}

#Chefs .card{
    position: relative;
}

#Chefs svg{
    position: absolute;
    top: 54%;
    color: white;
    

}

#Chefs h5{
    font-size: 16px;
    
}
#Chefs h6, #Chefs p{
    font-size: 12px;

}
#Chefs .col{
        width: 25%;
        transition: all 0.5s;
    }
#Chefs .col:hover{
        transform: scale(1.1,1.1);
    }
@media (max-width:750px){
    .title h1 {
            font-size: 40px;
            letter-spacing: 1px;
    }
    #Chefs .col{
        width: 100%;
    }
    #Chefs svg{
    
    top: 60%;
    

}
#Chefs h6,
#Chefs p {
    font-size: 14px;

}
}
/* End Chefs */

/* Start Book a Tables */
#Book-a-Table button{
    position: absolute;
    left: 57%;
    top: 85%;
}
#Book-a-Table input:focus,
#Book-a-Table textarea:focus{
    border-color: var(--main-color);
}

#Book-a-Table .container{
    position: absolute;
    left: 260px;
}


@media (max-width:750px){
    .div1{
        height: 1100px;
    }
#Book-a-Table button{
    position: static;
}

#Book-a-Table .container{
    left: 0;
}
}

/* End Book a Tables */
.div2{
    height: 700px;
}

#Contact{

height: 112vh;
background-color: rgb(249, 249, 249);
position: relative;
width: 100%;

}
#Contact iframe{
height: 400px;
width: 64%;
position: absolute;
    left: 270px;
}

#Contact i{
    background-color: var(--main-color);
    color: white;
    border-radius: 100%;
    padding: 15px;
    font-size: 20px;
   
}
#Contact h5{
    font-size: 17px;
}
#Contact h6{
    font-size: 12px;
}
#Contact .col-lg-6{
    width: 43%;
    margin-right: 22px;
}

#Contact .row-cols-2 {
    position: absolute;
        left: 280px;
        top: 73%;
}

@media (max-width:750px) {
    .div2 {
        height: 1150px;
    }
    #Contact iframe{
        position: static; 
        width: 100%;  
    }
    #Contact .col-lg-6 {
        width: 100%;
        height: 100%;
        margin-right: 0px;
        margin: auto;   
        position: absolute;
        /* left: 0px; */
        right: 150px;
    }
    #Contact .col-lg-6 {
        position: relative;
       
    }
}

/* Start form */
#form{
    background-color: rgb(249, 249, 249);
    height: 45vh;
}

#form .row {
    width: 71.5%;
    background-color: rgb(255, 255, 255);
    left: 204px;
    position: relative;
    margin-bottom: 20px;

}
#form button {
    position: absolute;
    top: 32%;
    left: 40%;
    width: 16%;
}

#form input:focus,
#form textarea:focus {
    border-color: var(--main-color);
}

@media (max-width:750px){
    #form .row {
        width: 100%;
            left: 9px;
            top: 400px;
        }
    
        #form button {
            position: sticky;
            width: 70%;
            left: 73px;
          }
}
/* End form */

/* Start Footer */
#foot{
    background-color: #212529;
    height: 30vh;
}
#foot .row{
    width: 50%;
    /* height: 10%; */
}

#foot .col-lg-6 {
    width: 50%;
    margin-right: 0;
}

#foot h5 {
    font-size: 12px;
}

#foot h6 {
    font-size: 10px;
}
#foot  i {

    font-size: 20px;
    color: var(--main-color);
}
#foot  span {
    color: var(--main-color);
}
#foot .text-logo i {
    
    border: 1px solid gray;
    border-radius: 50%;
    padding: 7px;
    margin: 0.5px;
    font-size: 10px;
    color: white;
    transition: all 0.5s;
}
#foot .text-logo i:hover {
    color: var(--main-color);
    border: 1px solid var(--main-color);
}
/* End Footer */